<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!--<table border="1">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${clientes}">
                    <td th:text="${item.nombre}"></td>
                    <td th:text="${item.apellidos}"></td>
                    <td th:text="${item.correo}"></td>
                    <td th:text="${item.telefono}"></td>
                </tr>
            </tbody>
        </table>-->
        <a th:href="@{/nuevoCliente}">Nuevo Cliente</a>
        <div th:if="${clientes != null and !clientes.empty}">
            <table border="1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${clientes}">
                        <td th:text="${item.nombre}"></td>
                        <td th:text="${item.apellidos}"></td>
                        <td th:text="${item.correo}"></td> 
                        <td th:text="${item.telefono}"></td>
                        <td><a th:href="@{/modificarCliente/} + ${item.idCliente}">Modificar</a></td>
                        <td><a th:href="@{/eliminarCliente/} + ${item.idCliente}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div th:if="${clientes == null or clientes.empty}">
            No tenemos lista de clientes para mostrar
        </div>

    </body>
</html>
