<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div th:if="${articulos != null and !articulos.empty}">
            <table border="1">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${articulos}">
                        <td th:text="${item.descripcion}"></td>
                        <td th:text="${item.precio}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div th:if="${articulos == null or articulos.empty}">
            No tenemos lista de precios para mostrar
        </div>

    </body>
</html>
